* { margin:0; padding:0; box-sizing:border-box; }
@import url(https://fonts.googleapis.com/css?family=Oswald:300);
body {
	background-color:#f1f1f1;
	font-family: "Oswald", Arial, sans-serif;
	font-weight:400;
	font-size:100%;
}
#wrapper {
	width: 1200px;
	padding:0;
	margin-left:auto;
	margin-right:auto;
	background-color:f0f0f0;
	align-content:center;
}
header {
	width: 1200px;
	height: 40px;
	background-color: #000;
	padding-bottom:5px;
}
#navigation {
	text-align: center;
	font-size: 20px;
	padding-top:10px;
	padding-right: 5px;
	color: #f1f1f1;
	
}
a {
	text-decoration: none;

}
.topnav {
	color: #f1f1f1;

	font-family:"Futura", Arial, sans-serif;
}
#logo {
	padding-top:20px;
	align-content: center;
	size: auto;
	padding-right: 10px;
}
.info {
	max-width:560px;
	line-height: 1.5em;
}
h1, h2 {
	text-transform: uppercase;
	font-family: "Futura", Arial, sans-serif;

}
.sneakerlist {
	display: block;
    width: 620px;
    height: 610px;
    overflow: auto;
    margin-bottom: 5px;
    float: right;
    background-color: #fff;
}
#footlocker {
	width: 1200px;
	padding-top: 40px;
	margin-top: 10px;
	margin-right:auto;
	margin-left: auto;
	background-color: #000;
	color: #f1f1f1;
}
footer {
	font-size: 12px;
	width: 1200px;
	padding-right: 15px;
	color: #f1f1f1;
}
#links {
	width: auto;
}
.bottnav {
	color: #f1f1f1;
}
