@import url(https://fonts.googleapis.com/css?family=Oswald:300);
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);

* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color:#f1f1f1;
	font-family: "Oswald", Arial, sans-serif;
	font-weight:400;
	font-size: 20px;
}
section {
	padding:5em 0;
}
nav {
	text-align:center;
	margin: 0 1em;
}
#subnav {
	float: right;
}
.subnavbutton {
	margin: 1em 1em;
    	padding: 0.5em 1em;
    	background: #000;
    	color: #f1f1f1;
    	font-size: 0.8em;
    	text-align: center;
    	text-decoration: none;
}
#wrapper {
	width: 1200px;
	margin-left:auto;
	margin-right:auto;
	background-color: #f0f0f0;
}
header {
	background-color: #000;
	padding: 1em;
}
#biglogo {
	display: inline-block;
	width: 49em;
	margin: 1em;
}
	
/*#navigation {
	text-align: center;
	font-size: 20px;
	padding-top:10px;
	padding-right: 5px;
	color: #f1f1f1;*/
	
}
a {
	text-decoration: none;

}
nav a {
	color: #f1f1f1;
	font-family:"Didact+Gothic", Arial, sans-serif;
	display: inline-block;
	padding: .5em 1em;
	text-decoration: none;
}
#logo {
	padding-top: 4px;
	align-content: center;
	padding: .5em 1em;
	float: left;
}
#latestadditions {
	background-color: #000;
	margin: 2em 20px;
	text-align: center;
	color: #f1f1f1;
}
#what-is { 
	margin: 2em 0;
    	padding: 4em;
    	line-height: 3.5em;
    	background: #000;
    	color: #f1f1f1;
}
#how-it-works {
	line-height: 2.5em 0;
	margin: 0 10px;
	padding: 10px;
	width: 900px;
	float:  left;
}
.big-number {
	font-size: 49px;
	/* padding-bottom: 0em; */
	color: #f1f1f1;
	text-align: center;
}
.numbersection {
	margin: 0.5em;
	font-size: 18px;
	background: rgb(0, 0, 0);
	padding: 3.5em 2.5em;
	color: #f1f1f1;
	text-align: center;
	float: left;
	/* height: 192px; */
	display: inline-block;
}
#number-one {
	width: 265px;
	height: 265px;
}
#number-two {
	width: 265px;
	height:  265px;
}
#number-three {
	width: 265px;
	height:  265px;
}
#numsec {
	/* clear:both; */
	/* float: left; */
	font-size: 21px;
	padding: 2em 2em;
	width: 439px;
	margin: 1em 9em;
	text-align: center;
}
#membership-levels {
	float: right;
	/* list-style: none; */
	width: 13em;
	padding: 3em 20px;
	margin: 2em 8px;
	border: 4px solid black;
	/* clear: both; */
}
#member-pack {
	line-height: 2.5em 0;
	margin: 0 10px;
	padding: 10px;
	width: 900px;
	float:  left;
}
	
/*.info {
	max-width:560px;
	line-height: 1.5em;
	padding-left: 2em;
}*/
h1, h2 {
	text-transform: uppercase;
	font-family: "Futura", Arial, sans-serif;

}
.sneakerlist {
	display: block;
	/* width: 620px; */
	height: 610px;
	overflow: auto;
	margin-bottom: 5px;
	/* float: right; */
	background-color: #fff;
}
.sneakerlist img {
	float:left;
	width: 20%;
	/* height: 113px; */
}
#footlocker {
	display: inline-block;
	padding: 40px;
	margin-top: 10px;
	margin-right:auto;
	margin-left: auto;
	background-color: #000;
	color: #f1f1f1;
}
footer {
	display: block;
	background-color: #000;
	font-size: 16px;
	padding-top: 3em;
	width: 1200px;
	height: 140px;
	padding-right: 15px;
	color: #f1f1f1;
	clear: both;
}
nav {
	width: auto;
}
.bottnav {
	color: #f1f1f1;
}
.splash {
	background:url(http://i53.photobucket.com/albums/g80/joshua_bell2/SOLE_SOCIETY_SPLASH_BLANK_zps2wzzf6de.png);
	background-size:cover;
	background-repeat:no-repeat;
	height: 24em;
	text-align: center;
	padding: 3em 0 0;
}
h3 {
	background-color: #000;
	color: #fff;
	padding: 1em;
	display:inline-block;
	margin-top: 50px;
	border-radius: 8px;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2), 0 .5px 10px 0 rgba(0,0,0,0.19);
	text-decoration: none;
}

.clearfix:after {
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	content:" ";
}
