@import url(https://fonts.googleapis.com/css?family=Oswald:300);

* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color:#f1f1f1;
	font-family: "Oswald", Arial, sans-serif;
	font-weight:400;
	font-size: 20px;
}
section {
	padding:5em 0;
}
nav {
	float:right;
}
#wrapper {
	width: 1200px;
	margin-left:auto;
	margin-right:auto;
	background-color: #f0f0f0;
}
header {
	background-color: #000;
	padding: 1em;
}
/*#navigation {
	text-align: center;
	font-size: 20px;
	padding-top:10px;
	padding-right: 5px;
	color: #f1f1f1;*/
	
}
a {
	text-decoration: none;

}
nav a {
	color: #f1f1f1;
	font-family:"Futura", Arial, sans-serif;
	display: inline-block;
	padding: .5em 1em;
}
#logo {
	padding-top: 4px;
	align-content: center;
	padding: .5em 1em;
	float: left;
}
.info {
	max-width:560px;
	line-height: 1.5em;
	padding-left: 2em;
}
h1, h2 {
	text-transform: uppercase;
	font-family: "Futura", Arial, sans-serif;

}
.sneakerlist {
	display: block;
	/* width: 620px; */
	height: 610px;
	overflow: auto;
	margin-bottom: 5px;
	/* float: right; */
	background-color: #fff;
}
.sneakerlist img {
	float:left;
	width: 20%;
	/* height: 113px; */
}
#footlocker {
	display: inline-block;
	padding: 40px;
	margin-top: 10px;
	margin-right:auto;
	margin-left: auto;
	background-color: #000;
	color: #f1f1f1;
}
footer {
	display: block;
	background-color: #000;
	font-size: 12px;
	width: 1200px;
	padding-right: 15px;
	color: #f1f1f1;
}
#links {
	width: auto;
}
.bottnav {
	color: #f1f1f1;
}
.splash {
	background:url(http://i53.photobucket.com/albums/g80/joshua_bell2/SOLE_SOCIETY_SPLASH_BLANK_zps2wzzf6de.png);
	background-size:cover;
	background-repeat:no-repeat;
	height: 24em;
	text-align: center;
	padding: 10em 0 0;
}
h3 {
	background-color: #000;
	color: #fff;
	padding: 1em;
	display:inline-block;
	margin-top: 50px;
	border-radius: 8px;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2), 0 .5px 10px 0 rgba(0,0,0,0.19);
}

.clearfix:after {
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	content:" ";
}
