* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:#333;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:400;
	font-size:16px;
}
#splash {
	background: url("http://i53.photobucket.com/albums/g80/joshua_bell2/sneakers_zpsxjrr8ih9.png?t=1485976432");
	background-size: cover;
}
h1 {
	
	font-size: 40px;
	text-transform: uppercase;
	text-align: left;
	padding: 30px 35px;
	background-color: #000;
	/* margin: 30px 20px 15px 1500px; */
	border-radius: 0em;
	box-shadow: 0px rgba(0, 0, 0, 0.75);
	color:#eee;
}
#wrapper {
	width: 921px;
    float: left;
    margin-top: 2px;
    padding-top: 5px;
    border-top: 1px solid black;
}
.sneakerlist {
	display: block;
    width: 510px;
    height: 280px;
    overflow: hidden;
    margin-bottom: 5px;
    float: left;
}
.img {
	width: 250px;
}
h2, p {
	float: right;
	width: 30%;
}
h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: normal;
	text-transform: uppercase;
	
	margin-right: 100px;
	margin-bottom: 70px;
}
#about {
	float: right;
	line-height: 1.5px;
	margin-top: 100%;
	
}

p {
	font-weight: normal;
	padding: 15px;
}
a {
	color: #FF0000;
}
#rare{
	color: #FF0000;
	font-style: italic;
}
nav a:first-of-type, nav a:nth-of-type(2) {
	float:left;
}
nav a:nth-of-type(3), nav a:last-of-type {
	float:right;
}
#logo {
	text-align:center;
	font-size:70%;
	text-decoration: none;
}
header a {
	width:20%;
	display:inline-block;
	padding:2em 0;
	text-align:center;
	text-decoration: none;
}
header {
	width:1200px;
	margin:auto;
}
#menu {
	width: 160px;
	float: right;
        margin-left: 9px;
	margin-right: 5px;
    
}
.cta {
	font-size: 20px;
}
