* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:#333;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:400;
	font-size:16px;
}
#splash {
	background: url("http://i53.photobucket.com/albums/g80/joshua_bell2/sneakers_zpsxjrr8ih9.png?t=1485976432");
	background-size: cover;
}
h1 {
	
	 font-size: 40px;
	text-transform: uppercase;
	text-align: left;
	padding: 30px 35px;
	background-color: #f3f3f3;
	
	 
}
#searchbar {
	float: right;
	margin-right: 150px;
	padding: 0em;
}
.submit {
	width: 20px;
}
#wrapper {
	width: 721px;
    float: left;
    margin-top: 2px;
    padding-top: 5px;
    
}
.sneakerlist {
	display: block;
    width: 510px;
    height: auto;
    overflow: hidden;
    margin-bottom: 5px;
    float: right;
}

h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: normal;
	text-transform: uppercase;
	
	margin-right: 100px;
	margin-bottom: 5px;
}
#about {
	    width: 360px;
	float: left;
	  padding-left: 5px;
    	padding-right: 13px;
   	margin-top: 2px;
    	padding-top: 5px;
}

p {
	font-weight: normal;
	padding: 15px;
}
a {
	color: #000;
	text-decoration: none;
}
#rare{
	color: #FF0000;
	font-size: 10px;
	font-style: italic;
	text-align: center;
	
}
nav a:first-of-type, nav a:nth-of-type(2) {
	float:left;
}
nav a:nth-of-type(3), nav a:last-of-type {
	float:right;
}
#logo {
	text-align:center;
	width:30%;
	text-decoration: none;
}
header a {
	width:20%;
	display:inline-block;
	padding:2em 0;
	text-align:center;
	text-decoration: none;
}
header {
	width:1200px;
	margin:auto;
}
.menu {
	display: block;
}
.menu {
	width: 160px;
	float: right;
	position: fixed;
        margin-left: 9px;
	margin-right: 5px;
    
}
.cta {
	font-size: 20px;
}
